/* - Mobile: 375px
- Desktop: 1440px */

/* BASE */

* {
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

body {
    background-color: var(--off-white);
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/* BASE END */

/* HELPER */
.w-100 {
    width: 100%;
}

.bt-none {
    border-bottom: none !important;
}

/* HELPER  END*/

/* NAV */
nav,
.container {
    width: 1100px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

nav>ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: var(--dark-grayish-blue);
}

nav>ul>li>a:hover {
    color: var(--soft-orange);
}

/* NAV END*/

/* MAİN */

.container {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.container>section {
    flex: 2;
}

.info {
    display: flex;
    /* gap: 30px; */
}

.info h1 {
    font-size: 4rem;
    margin: 20px 0 0;
}

.info p {
    font-size: 1.2rem;
    margin-top: 20px;
}

.info>.item {
    flex: 1;
}

.item-detail {
    margin-top: 10px;
}

.item-detail>a {
    margin-top: 40px;
    padding: 15px 40px;
    background-color: var(--soft-red);
    color: var(--off-white);
    display: inline-block;
}

.item-detail>a:hover {
    background-color: var(--very-dark-blue);
}

/* ASIDE */

.container>aside {
    background-color: var(--very-dark-blue);
    flex: 1;
    padding: 20px;
}

.container>aside>h2 {
    color: var(--soft-orange);
    margin-top: 10px;
    font-size: 2rem;
}

aside>.item {
    margin-bottom: 30px;
    border-bottom: 1px solid var(--dark-grayish-blue);
}

aside>.item>h3 {
    color: var(--off-white);
}

aside>.item>p {
    color: var(--dark-grayish-blue);
}

/* ASIDE END*/

/* FOOTER */

footer.container {
    margin-bottom: 20px;
    gap: 0;
}

footer.container>.item {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

footer.container>.item>img {
    width: 100px;
    max-height: 120px;
}

footer.container>.item>div {
    flex: 2;
    padding: 0 20px;
}

footer.container>.item h3 {
    margin: 0;
    font-size: 2rem;
    color: var(--grayish-blue);
}

footer.container>.item h4 {
    margin: 10px 0 0;
}

footer.container>.item p {
    color: var(--grayish-blue);
}

/* FOOTER END*/